const backgroundStyle = {
    height: "50px",
    width: "50px",
    borderStyle: "solid",
    justifyContent: "center",
    backgroundColor : "white",
    borderRadius: "0px",
}
const playerStyle = {
    height: "50px",
    width: "50px",
    borderStyle: "solid",
    justifyContent: "center",
    backgroundColor : "blue",
    color: "white"
}

const ballStyle = {
    height: "50px",
    width: "50px",
    display: "block",
    backgroundColor: "yellow",
    justifyContent: "center",
    borderRadius: "100%",
    color:"white"
}